@charset "UTF-8";
/*
 *	Author		：WoodyCai
 *	Time		：2017.06.14
 *	Abstract	：深银联集团官网样式文件
 *
 */
/*
 *	Author		：蔡应
 *	Time		：2015.03.12
 *	Abstract	：94送官网sass基础样式、引用文件
 *
 */
/*RESET*/
body, html, div, p, table, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol, li, dl, dt, dd {
  list-style: none; }

img, a {
  border: none; }

em {
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

a {
  outline: none;
  text-decoration: none;
  color: #d83a3f; }

a:active {
  star: expression(this.onFocus=this.blur()); }

/*Base*/
body {
  font: normal 12px/22px Arial, "Microsoft Yahei", Helvetica, sans-serif, "宋体";
  color: #666;
  background: #f2f2f2; }

.hide {
  display: none !important; }

.clear {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  overflow: hidden; }

.clearfloat:after, .counselor .mod-04 .case-list:after, .invest .mod-03 .case-list:after, .stock .mod-02 .case-list:after, .stimulate .mod-01 .good-list:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

.clearfloat, .counselor .mod-04 .case-list, .invest .mod-03 .case-list, .stock .mod-02 .case-list, .stimulate .mod-01 .good-list {
  zoom: 1; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

.left {
  float: left;
  display: inline; }

.right {
  float: right;
  display: inline; }

.wrap {
  position: relative;
  margin: 0px auto;
  min-width: 1000px;
  max-width: 1200px; }

.wrap1000 {
  position: relative;
  margin: 0 auto;
  width: 1000px; }

.wrap1100 {
  position: relative;
  margin: 0 auto;
  width: 1100px; }

.wrap1200 {
  position: relative;
  margin: 0 auto;
  width: 1200px; }

.wrap1920 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-width: 1100px; }

.padding16 {
  padding: 16px; }

.red {
  color: #d83a3f !important; }

.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

input {
  outline: none; }

::-moz-selection {
  background: rgba(56, 81, 159, 0.7);
  color: #fff; }

::selection {
  background: rgba(56, 81, 159, 0.7);
  color: #fff; }

::-moz-selection {
  background: rgba(56, 81, 159, 0.7);
  color: #fff; }

::-webkit-selection {
  background: rgba(56, 81, 159, 0.7);
  color: #fff; }

.img-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray; }

.img-gray:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: none;
          filter: none; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

/*
 *	Common
 */
html {
  font-size: 50px; }

body {
  background: #fff;
  font-size: 0.24rem;
  line-height: 1.5;
  font-weight: 400;
  color: #5a5a5a;
  font-family: "微软雅黑", "Microsoft YaHei", "宋体",Arial, Helvetica, sans-serif;
  padding-top: 1.1rem; }

h1, h2, h3, h4, h5, b, strong, em {
  font-weight: 400; }

@font-face {
  font-family: 'iconfont';
  /* project id 346978 */
  src: url("https://at.alicdn.com/t/font_346978_ghitu39vni9newmi.eot");
  src: url("https://at.alicdn.com/t/font_346978_ghitu39vni9newmi.eot?#iefix") format("embedded-opentype"), url("https://at.alicdn.com/t/font_346978_ghitu39vni9newmi.woff") format("woff"), url("https://at.alicdn.com/t/font_346978_ghitu39vni9newmi.ttf") format("truetype"), url("https:s//at.alicdn.com/t/font_346978_ghitu39vni9newmi.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.3rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.blue {
  color: #38519f; }

.red {
  color: #ef0d0d; }

.yellow {
  color: #ffd200; }

.gray {
  color: #949494 !important; }

.black {
  color: #000; }

.font14 {
  font-size: 14px; }

.font16 {
  font-size: 16px; }

.font18 {
  font-size: 18px; }

.font24 {
  font-size: 0.24rem !important; }

.font30 {
  font-size: 0.3rem !important; }

.gray-bg, .copyright {
  background: #f5f5f5; }

.white-bg {
  background: #fff; }

.black-bg {
  background: #282828; }

/* 分页 */
.page_wrap {
  height: 34px;
  margin: 40px 20px;
  font: normal 14px/34px "微软雅黑",Arial;
  color: #999; }
  .page_wrap .pagination {
    height: 34px;
    text-align: center; }
    .page_wrap .pagination li {
      display: inline-block;
      margin-right: 10px;
      background: #fff;
      padding: 0 10px;
      min-width: 12px;
      height: 32px;
      font: normal 14px/32px "微软雅黑",Arial;
      text-align: center;
      border: solid 1px #ddd; }
    .page_wrap .pagination .rows {
      width: 100px; }
    .page_wrap .pagination li a {
      display: block;
      width: 100%;
      height: 100%;
      color: #999; }
    .page_wrap .pagination li:hover {
      background: #e4e4e4;
      text-decoration: none; }
    .page_wrap .pagination li.active {
      color: #000;
      background: #ffd200;
      border-color: #ffd200; }
  .page_wrap .page_total {
    float: left;
    margin-left: 20px;
    height: 34px; }
  .page_wrap .page_skip {
    float: left;
    height: 34px; }
    .page_wrap .page_skip input {
      width: 30px;
      text-align: center;
      height: 32px;
      border: 1px solid #ddd;
      margin: 0 6px; }
  .page_wrap .page_skip .sub_btn {
    display: inline-block;
    border: solid 1px #ddd;
    padding: 0 5px;
    color: #333; }
  .page_wrap .page_skip .sub_btn:hover {
    background: #c71e21;
    color: #fff;
    border: solid 1px #c71e21; }

a {
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    color: #38519f; }

.btn {
  border: 1px solid #000;
  line-height: 34px;
  border-radius: 4px;
  color: #000;
  background: #fff;
  text-align: center; }

.btn-yellow {
  border-color: #ffd200;
  color: #fff;
  background: #ffd200; }

.btn-red {
  border-color: #ef0d0d;
  color: #fff;
  background: #ef0d0d; }

.btn-black-line {
  border-color: #000;
  background: #fff;
  color: #000; }

.btn-red-line {
  border-color: #ef0d0d;
  background: #fff;
  color: #ef0d0d; }

.btn-yellow-line {
  border-color: #ffd200;
  background: #fff;
  color: #ffd200; }

.btn-blue-line {
  border-color: #38519f;
  background: #fff;
  color: #38519f; }

.btn-gray-line {
  border-color: #5a5a5a;
  background: #fff;
  color: #5a5a5a; }

.look-more {
  display: block;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 14px;
  color: #000;
  line-height: 32px;
  text-align: center;
  width: 100px;
  background: #ffd200;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

.go-ask-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.go-ask {
  background-color: #ffd307;
  font-size: 0.24rem;
  font-weight: normal;
  line-height: 0.4rem;
  color: #000;
  position: relative;
  padding: 0 0.2rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(ffd200), to(#ffe87e));
  background-image: linear-gradient(bottom, ffd200 0%, #ffe87e 100%);
  border-radius: 0.2rem;
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: 0rem .08rem 0rem 0rem #ff9000, 0rem .10rem .05rem #ccc;
          box-shadow: 0rem .08rem 0rem 0rem #ff9000, 0rem .10rem .05rem #ccc; }

.go-ask:active {
  top: .03rem;
  -webkit-box-shadow: 0rem .04rem 0rem 0rem #ff9000, 0rem .05rem .05rem #ccc;
          box-shadow: 0rem .04rem 0rem 0rem #ff9000, 0rem .05rem .05rem #ccc; }

.img100 {
  display: block;
  width: 100%;
  height: auto; }

.mgt10 {
  margin-top: 0.1rem !important; }

.mgt20 {
  margin-top: 0.2rem !important; }

.mgt30 {
  margin-top: 0.3rem !important; }

.mgt0 {
  margin-top: 0 !important; }

.h20 {
  height: 0.2rem; }

.h40 {
  height: 0.4rem; }

.bg-gray {
  background: #f2f2f2; }

.boxShadow {
  -webkit-box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.1);
          box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.1);
  border-radius: 6px; }

.boxShadow02 {
  -webkit-box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.1);
          box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.1); }

.icon-01, .index .mod-01 a i, .index .mod-04 dl dt i, .how-serve li i, .invest .mod-01 .service-list li i, .stimulate .mod-04 .service-list li i, .lawsuit .mod-01 dl dt i, .lawsuit .mod-01 li i, .selfsuit .mod-04 .s-list li i {
  background: url(icon_01.png) no-repeat;
  background-size: 10rem 10rem; }

.icon {
  background: url(../images/icon.png) no-repeat; }

.icon-02 {
  background: url(../images/icon_02.png) no-repeat; }

#header {
  z-index: 90;
  background: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.1rem;
  height: 1.1rem;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); }
  #header #logo img {
    width: 3.6rem;
    margin-top: 0.2rem;
    height: auto;
    }
  #header .hot-tel {
    font-size: 0.36rem;
    color: #000; }
  #header .nav-btn {
    font-size: 0.6rem;
    color: #5a5a5a; }

.popup-nav-shadow {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

#nav {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  z-index: 110;
  position: fixed;
  top: 0;
  right: 0;
  width: 3rem;
  background: #fff;
  height: 100%; }
  #nav a {
    padding-left: 0.5rem;
    display: block;
    line-height: 1rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #e4e4e4; }

.copyright {
  padding-bottom: 0.9rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #969696; }

.fix-ask-btn-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0.9rem;
  z-index: 100; }
  .fix-ask-btn-wrap a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #38519f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.3rem;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .fix-ask-btn-wrap a:nth-child(2) {
      background: #ffd200;
      color: #000; }
    .fix-ask-btn-wrap a i {
      font-size: 0.45rem;
      margin-right: 0.1rem; }

#mobile_minchat_div {
  z-index: 90 !important; }

#newBridge #nb_toolbar_wrap {
  display: none !important; }

/* 首页 */
.index .swiper-pagination-bullet-active {
  background: #38519f; }

.index .mod-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.2rem 0; }
  .index .mod-01 a {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .index .mod-01 a i {
      width: 1rem;
      height: 0.8rem;
      background-position-y: -3.1rem; }
    .index .mod-01 a .i1 {
      background-position-x: 0; }
    .index .mod-01 a .i2 {
      background-position-x: -1rem; }
    .index .mod-01 a .i3 {
      background-position-x: -2rem; }
    .index .mod-01 a .i4 {
      background-position-x: -3rem; }
    .index .mod-01 a .i5 {
      background-position-x: -4rem; }
    .index .mod-01 a .i6 {
      background-position-x: -5rem; }
    .index .mod-01 a .i7 {
      background-position-x: -6rem; }
    .index .mod-01 a .i8 {
      background-position-x: -7rem; }

.index .mod-02 {
  padding-bottom: 0.2rem; }

.index .mod-03 .law-step {
  width: 7.2rem;
  margin: 0 auto; }
  .index .mod-03 .law-step li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.25rem 0;
    border-bottom: 1px solid #e4e4e4; }
    .index .mod-03 .law-step li:first-child {
      padding-top: 0; }
    .index .mod-03 .law-step li:last-child {
      border: none; }
    .index .mod-03 .law-step li img {
      width: 2.8rem;
      height: 2rem;
      margin-right: 0.3rem; }
    .index .mod-03 .law-step li .text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .index .mod-03 .law-step li h4 {
      margin-bottom: 0.1rem;
      color: #38519f;
      font-size: 0.3rem; }

.index .mod-04 {
  padding-bottom: 0.4rem; }
  .index .mod-04 dl {
    width: 7.2rem;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4; }
    .index .mod-04 dl dt {
      color: #000;
      line-height: 1rem;
      height: 1rem;
      font-size: 0.3rem; }
      .index .mod-04 dl dt i {
        float: left;
        width: 0.8rem;
        height: 1rem;
        background-position-y: -6rem; }
        .index .mod-04 dl dt i.i1 {
          background-position-x: -0.2rem; }
        .index .mod-04 dl dt i.i2 {
          background-position-x: -1.2rem; }
        .index .mod-04 dl dt i.i3 {
          background-position-x: -2.2rem; }
        .index .mod-04 dl dt i.i4 {
          background-position-x: -3.2rem; }
      .index .mod-04 dl dt span {
        float: right;
        color: #5a5a5a;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease; }
      .index .mod-04 dl dt.active span {
        color: #38519f;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .index .mod-04 dl dd {
      line-height: 2;
      padding: 0 0 0.2rem 0.8rem;
      display: none; }
      .index .mod-04 dl dd em {
        color: #38519f;
        margin-right: 0.1rem; }

/* 关于我们 */
.aboutus .mod-01 {
  line-height: 2;
  padding: 0 0.2rem 0.3rem 0.2rem; }
  .aboutus .mod-01 .mod-title {
    padding: 0.2rem 0 !important; }

.aboutus .mod-02 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .aboutus .mod-02 ul li {
    width: 2.6rem;
    text-align: center;
    margin-bottom: 0.4rem; }
  .aboutus .mod-02 ul h4 {
    line-height: 2;
    font-size: 0.3rem; }
  .aboutus .mod-02 ul img {
    width: 1.2rem;
    margin: 0 auto;
    display: block; }

.inside-banner-wrap {
  height: 3.5rem;
  overflow: hidden;
  position: relative; }
  .inside-banner-wrap .inside-banner {
    display: block;
    width: 100%;
    height: auto; }
  .inside-banner-wrap .ani-t {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .inside-banner-wrap .ani-t-right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    padding: 0 0.6rem; }
  .inside-banner-wrap .ani-t-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0 0.6rem; }
  .inside-banner-wrap h2 {
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px; }
  .inside-banner-wrap p {
    margin: 0.1rem 0; }
  .inside-banner-wrap .consult-btn {
    margin-top: 0.2rem;
    line-height: 0.36rem;
    width: 1.5rem;
    font-size: 0.24rem;
    background: #ffd200;
    border-radius: 0.18rem;
    text-align: center; }
  .inside-banner-wrap .line {
    margin-top: 0.2rem;
    width: 0.6rem;
    height: 2px;
    background: #ffd200; }
  .inside-banner-wrap .font48 {
    font-size: 0.48rem; }

.inside-banner-wrap-02 {
  height: 320px;
  overflow: hidden; }
  .inside-banner-wrap-02 .inside-banner {
    position: absolute;
    top: 0;
    left: -360px;
    display: block; }
  .inside-banner-wrap-02 .ani-t {
    position: absolute;
    background: url(../images/anit.png) no-repeat;
    width: 550px;
    height: 100px;
    left: 200px; }
  .inside-banner-wrap-02 .ani-t01 {
    left: 120px;
    top: 110px;
    background-position: 0 0; }
  .inside-banner-wrap-02 .ani-t02 {
    left: 120px;
    top: 160px;
    background-position: 0 -100px; }
  .inside-banner-wrap-02 .ani-t03 {
    left: 120px;
    top: 110px;
    background-position: 0 -200px; }
  .inside-banner-wrap-02 .ani-t04 {
    left: 120px;
    top: 150px;
    background-position: 0 -300px; }
  .inside-banner-wrap-02 .ani-t05 {
    left: 120px;
    top: 110px;
    background-position: 0 -400px; }
  .inside-banner-wrap-02 .ani-t06 {
    left: 120px;
    top: 160px;
    background-position: 0 -500px; }
  .inside-banner-wrap-02 .ani-t07 {
    left: 40px;
    top: 110px;
    background-position: 0 -600px; }
  .inside-banner-wrap-02 .ani-t08 {
    left: 40px;
    top: 170px;
    background-position: 0 -700px; }
  .inside-banner-wrap-02 .ani-t09 {
    left: 520px;
    top: 70px;
    background-position: 0 -800px; }
  .inside-banner-wrap-02 .ani-t10 {
    left: 420px;
    top: 140px;
    background-position: 0 -900px; }
  .inside-banner-wrap-02 .ani-t11 {
    left: 40px;
    top: 80px;
    background-position: 0 -1000px; }
  .inside-banner-wrap-02 .ani-t12 {
    left: 40px;
    top: 140px;
    background-position: 0 -1100px; }

/* 
 * 法律服务页面
 */
.service-con .mod-title {
  color: #5a5a5a;
  text-align: center;
  text-transform: uppercase;
  padding: 0.4rem 0; }
  .service-con .mod-title h2 {
    font-size: 0.36rem;
    color: #282828; }

.how-serve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .how-serve li {
    min-width: 30%;
    height: 2rem;
    text-align: center; }
    .how-serve li i {
      display: block;
      width: 1rem;
      height: 1rem;
      margin: 0 auto; }
      .how-serve li i.i1 {
        background-position: 0rem 0; }
      .how-serve li i.i2 {
        background-position: -1rem 0; }
      .how-serve li i.i3 {
        background-position: -2rem 0; }
      .how-serve li i.i4 {
        background-position: -3rem 0; }
      .how-serve li i.i5 {
        background-position: -4rem 0; }
      .how-serve li i.i6 {
        background-position: -5rem 0; }
      .how-serve li i.i7 {
        background-position: -6rem 0; }
      .how-serve li i.i8 {
        background-position: -7rem 0; }
      .how-serve li i.i9 {
        background-position: -8rem 0; }
      .how-serve li i.i10 {
        background-position: -9rem 0; }
      .how-serve li i.i11 {
        background-position: 0rem -1rem; }
      .how-serve li i.i12 {
        background-position: -1rem -1rem; }
      .how-serve li i.i13 {
        background-position: -2rem -1rem; }
      .how-serve li i.i14 {
        background-position: -3rem -1rem; }
      .how-serve li i.i15 {
        background-position: -4rem -1rem; }
      .how-serve li i.i16 {
        background-position: -5rem -1rem; }
      .how-serve li i.i17 {
        background-position: -6rem -1rem; }
      .how-serve li i.i18 {
        background-position: -7rem -1rem; }
      .how-serve li i.i19 {
        background-position: -8rem -1rem; }
      .how-serve li i.i20 {
        background-position: -9rem -1rem; }
      .how-serve li i.i21 {
        background-position: 0rem -2rem; }
      .how-serve li i.i22 {
        background-position: -1rem -2rem; }
      .how-serve li i.i23 {
        background-position: -2rem -2rem; }
      .how-serve li i.i24 {
        background-position: -3rem -2rem; }
      .how-serve li i.i25 {
        background-position: -4rem -2rem; }
      .how-serve li i.i26 {
        background-position: -5rem -2rem; }
      .how-serve li i.i27 {
        background-position: -6rem -2rem; }
      .how-serve li i.i28 {
        background-position: -7rem -2rem; }
      .how-serve li i.i29 {
        background-position: -8rem -2rem; }

.how-serve-2 li {
  width: 50%; }

.counselor .mod-02 {
  padding-bottom: 0.4rem; }
  .counselor .mod-02 .why-list {
    width: 7.2rem;
    margin: 0 auto; }
    .counselor .mod-02 .why-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.25rem 0;
      border-bottom: 1px solid #e4e4e4; }
      .counselor .mod-02 .why-list li:first-child {
        padding-top: 0; }
      .counselor .mod-02 .why-list li img {
        width: 1.5rem;
        height: auto;
        margin-right: 0.3rem; }
      .counselor .mod-02 .why-list li .text {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .counselor .mod-02 .why-list li h4 {
        margin-bottom: 0.1rem;
        color: #38519f;
        font-size: 0.3rem; }

.counselor .mod-03 {
  padding-bottom: 0.2rem; }
  .counselor .mod-03 .counselor-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .counselor .mod-03 .counselor-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      color: #969696;
      margin-left: 0.2rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      min-width: 3.45rem;
      background: #fff;
      margin-bottom: 0.2rem;
      width: 3.4rem;
      height: 3.2rem;
      font-size: 0.26rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0.3rem 0.15rem; }
      .counselor .mod-03 .counselor-list li i {
        width: 1rem;
        height: 1rem;
        display: block;
        background-color: #ffd200;
        background-position: 0  -9rem;
        border-radius: 50%; }
        .counselor .mod-03 .counselor-list li i.i02 {
          background-position-x: -1rem; }
        .counselor .mod-03 .counselor-list li i.i03 {
          background-position-x: -2rem; }
        .counselor .mod-03 .counselor-list li i.i04 {
          background-position-x: -3rem; }
      .counselor .mod-03 .counselor-list li h4 {
        color: #000;
        margin-top: 0.2rem; }
      .counselor .mod-03 .counselor-list li img {
        width: 100%; }
  .counselor .mod-03 .to-ask {
    display: block;
    width: 2rem;
    border-radius: 0.26rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0.52rem;
    line-height: 0.50rem;
    border: 1px solid #38519f;
    color: #38519f;
    text-align: center;
    margin: 0.3rem auto; }

.counselor .mod-04 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.2rem; }
  .counselor .mod-04 .case-list-wrap {
    width: 100%;
    overflow-x: scroll; }
  .counselor .mod-04 .case-list {
    padding-right: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .counselor .mod-04 .case-list li {
      min-width: 5.2rem;
      width: 5rem !important;
      background: #fff;
      padding: 0.1rem; }
      .counselor .mod-04 .case-list li:first-of-type {
        margin-left: 0.2rem; }
      .counselor .mod-04 .case-list li img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd; }
      .counselor .mod-04 .case-list li h4 {
        font-size: 0.26rem;
        padding: 0.1rem 0.2rem;
        color: #000; }

.invest .mod-01 .service-list {
  width: 7.2rem;
  margin: 0 auto; }
  .invest .mod-01 .service-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.25rem 0.2rem 0.25rem 0;
    border-bottom: 1px solid #e4e4e4; }
    .invest .mod-01 .service-list li:first-child {
      padding-top: 0; }
    .invest .mod-01 .service-list li:last-child {
      border: none; }
    .invest .mod-01 .service-list li i {
      margin-right: 0.3rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #ffd200;
      border-radius: 50%;
      background-position-y: -6.9rem; }
      .invest .mod-01 .service-list li i.i1 {
        background-position-x: 0.1rem; }
      .invest .mod-01 .service-list li i.i2 {
        background-position-x: -0.9rem; }
      .invest .mod-01 .service-list li i.i3 {
        background-position-x: -1.9rem; }
      .invest .mod-01 .service-list li i.i4 {
        background-position-x: -2.9rem; }
      .invest .mod-01 .service-list li i.i5 {
        background-position-x: -3.9rem; }
    .invest .mod-01 .service-list li .text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .invest .mod-01 .service-list li h4 {
      font-size: 0.3rem;
      color: #38519f; }

.invest .mod-02 .invest-step-list {
  width: 7.2rem;
  margin: 0 auto; }
  .invest .mod-02 .invest-step-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.25rem 0;
    border-bottom: 1px solid #e4e4e4; }
    .invest .mod-02 .invest-step-list li:last-child {
      border: none; }
    .invest .mod-02 .invest-step-list li img {
      width: 3rem;
      height: 2rem;
      margin-right: 0.3rem; }
    .invest .mod-02 .invest-step-list li .text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .invest .mod-02 .invest-step-list li h4 {
      margin-bottom: 0.1rem;
      color: #38519f;
      font-size: 0.3rem; }

.invest .mod-03 {
  padding-bottom: 0.2rem; }
  .invest .mod-03 .case-list-wrap {
    width: 100%;
    overflow-x: scroll; }
  .invest .mod-03 .case-list {
    padding-right: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .invest .mod-03 .case-list li {
      width: 5rem;
      background: #fff;
      padding: 0.1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .invest .mod-03 .case-list li:first-of-type {
        margin-left: 0.2rem; }
      .invest .mod-03 .case-list li img {
        width: 100%;
        height: auto; }
      .invest .mod-03 .case-list li h4 {
        font-size: 0.26rem;
        padding: 0.1rem 0.2rem;
        color: #000; }

.stock .mod-01 {
  background: #f5f5f5 url(../images/service/stock/mod_bg_01.jpg) no-repeat center 200px;
  padding-top: 70px;
  height: 800px; }
  .stock .mod-01 .question-list {
    margin-top: 130px;
    padding-left: 640px; }
    .stock .mod-01 .question-list li {
      color: #5a5a5a;
      font-size: 18px;
      line-height: 30px;
      height: 30px;
      margin-bottom: 20px; }
      .stock .mod-01 .question-list li em {
        float: left;
        width: 30px;
        font-size: 24px;
        margin-right: 15px;
        text-align: center;
        background: #ffd200;
        color: #000;
        border-radius: 4px; }
  .stock .mod-01 .go-ask {
    margin: 140px auto;
    display: block;
    width: 150px;
    text-align: center; }

.stock .mod-02 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.2rem; }
  .stock .mod-02 .case-list-wrap {
    width: 100%;
    overflow-x: scroll; }
  .stock .mod-02 .case-list {
    padding-right: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .stock .mod-02 .case-list li {
      min-width: 5rem;
      width: 5rem;
      background: #fff; }
      .stock .mod-02 .case-list li:first-of-type {
        margin-left: 0.2rem; }
      .stock .mod-02 .case-list li img {
        width: 100%;
        height: auto; }
      .stock .mod-02 .case-list li h4 {
        font-size: 0.3rem;
        color: #000; }
      .stock .mod-02 .case-list li .text {
        padding: 0.1rem 0.2rem;
        color: #969696; }

.stock .mod-03 {
  padding-bottom: 0.4rem; }
  .stock .mod-03 .q-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .stock .mod-03 .q-list li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: center; }
      .stock .mod-03 .q-list li img {
        width: 1.5rem;
        margin: 0 auto; }
      .stock .mod-03 .q-list li h4 {
        font-size: 0.3rem;
        color: #38519f; }

.stock .mod-04 .s-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0; }
  .stock .mod-04 .s-list li:first-child {
    padding-top: 0.2rem; }
  .stock .mod-04 .s-list li em {
    color: #38519f; }
  .stock .mod-04 .s-list li i {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 0.8rem;
    height: 0.8rem;
    background: url(icon_01.png);
    background-size: 4.8rem 0.8rem; }
    .stock .mod-04 .s-list li i.i2 {
      background-position-x: -.8rem; }
    .stock .mod-04 .s-list li i.i3 {
      background-position-x: -1.6rem; }
    .stock .mod-04 .s-list li i.i4 {
      background-position-x: -2.4rem; }
    .stock .mod-04 .s-list li i.i5 {
      background-position-x: -3.2rem; }
    .stock .mod-04 .s-list li i.i6 {
      background-position-x: -4.0rem; }
  .stock .mod-04 .s-list li b {
    display: block;
    font-size: 0.36rem;
    color: #333; }
  .stock .mod-04 .s-list li p {
    width: 5.6rem; }
  .stock .mod-04 .s-list li .p1 {
    margin-top: 30px; }
  .stock .mod-04 .s-list li .p3 {
    margin-top: 0px; }

.stimulate .mod-01 {
  height: 7rem;
  background: url(../images/service/stimulate/mod_bg_01.jpg) no-repeat center 5.9rem;
  background-size: 3.17rem auto; }
  .stimulate .mod-01 .good-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .stimulate .mod-01 .good-list li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      min-width: 30%;
      text-align: center;
      color: #959595;
      font-size: 0.18rem;
      margin-bottom: 0.3rem; }
      .stimulate .mod-01 .good-list li img {
        width: 1.2rem;
        margin: 0 auto;
        text-align: center; }
      .stimulate .mod-01 .good-list li h4 {
        font-size: 0.24rem;
        color: #282828; }

.stimulate .mod-02 {
  padding: 0 0.1rem 0.1rem 0.1rem; }

.stimulate .mod-03 {
  padding: 0 0.1rem 0.4rem 0.1rem; }
  .stimulate .mod-03 .case-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #5a5a5a;
    height: 1.9rem;
    margin-bottom: 0.25rem; }
    .stimulate .mod-03 .case-list li img {
      display: block;
      width: 3.3rem;
      height: 1.9rem; }
    .stimulate .mod-03 .case-list li .text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0.15rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #eee;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 1.9rem; }
    .stimulate .mod-03 .case-list li h4 {
      font-size: 0.3rem;
      margin-bottom: 0.1rem;
      text-transform: uppercase; }
      .stimulate .mod-03 .case-list li h4 em {
        color: #38519f;
        margin-right: 0.1rem; }
  .stimulate .mod-03 .go-ask {
    margin: 0.1rem auto; }

.stimulate .mod-04 {
  padding-bottom: 0.2rem; }
  .stimulate .mod-04 .service-list li {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../images/item_bg_01.png);
    background-size: 100% 100%;
    margin-bottom: 0.2rem;
    width: 7.26rem;
    height: 2.2rem;
    color: #5a5a5a; }
    .stimulate .mod-04 .service-list li i {
      width: 1.3rem;
      height: 1.3rem;
      background-color: #ffd200;
      background-position: 0.15rem -4.9rem;
      border-radius: 50%; }
      .stimulate .mod-04 .service-list li i.i2 {
        background-position-x: -0.85rem; }
      .stimulate .mod-04 .service-list li i.i3 {
        background-position-x: -1.9rem; }
      .stimulate .mod-04 .service-list li i.i4 {
        background-position-x: -2.9rem; }
    .stimulate .mod-04 .service-list li .text {
      width: 4.1rem;
      margin-left: 0.4rem; }
    .stimulate .mod-04 .service-list li h4 {
      color: #38519f;
      font-size: 0.3rem; }

.risk .mod-01 .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .risk .mod-01 .case.case-01 {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.3rem; }
  .risk .mod-01 .case img {
    width: 1.2rem;
    height: 1.3rem; }
  .risk .mod-01 .case .text {
    width: 5.75rem;
    padding-bottom: 0.3rem; }
    .risk .mod-01 .case .text .p1 {
      padding-bottom: 0.3rem;
      background: url(../images/service/risk/bg.jpg) no-repeat center bottom;
      background-size: 100% auto; }
    .risk .mod-01 .case .text h4 {
      margin: 0.2rem 0 0.1rem 0;
      border: 1px solid #38519f;
      width: 0.8rem;
      line-height: 1.2;
      font-size: 0.3rem;
      border-radius: 4px;
      text-align: center; }

.risk .mod-01 ul {
  padding: 0 0.1rem; }
  .risk .mod-01 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.2rem 0;
    border-bottom: 1px solid #eee; }
    .risk .mod-01 ul li:first-child {
      padding-top: 0; }
    .risk .mod-01 ul li span {
      width: 0.44rem;
      height: 0.44rem;
      font-size: 0.24rem;
      color: #000;
      text-align: center;
      background: #ffd200;
      border-radius: 50%; }
    .risk .mod-01 ul li p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-left: 0.3rem; }

.risk .mod-01 .to-ask {
  display: block;
  width: 3.4rem;
  border-radius: 0.26rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0.52rem;
  line-height: 0.50rem;
  border: 1px solid #38519f;
  color: #38519f;
  text-align: center;
  margin: 0.3rem auto; }

.risk .mod-03 .h-list {
  padding: 0 0.1rem; }
  .risk .mod-03 .h-list li {
    padding: 0.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eee; }
    .risk .mod-03 .h-list li:last-child {
      border: none; }
    .risk .mod-03 .h-list li img {
      width: 2.7rem;
      height: 1.8rem;
      margin-right: 0.2rem; }
    .risk .mod-03 .h-list li h4 {
      font-size: 0.32rem;
      color: #000;
      margin-bottom: 0.05rem;
      margin-top: 0.1rem; }

.lawsuit .mod-01 {
  padding: 0 0.1rem; }
  .lawsuit .mod-01 dl {
    width: 7.2rem;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4; }
    .lawsuit .mod-01 dl dt {
      color: #000;
      line-height: 1rem;
      height: 1rem;
      font-size: 0.3rem; }
      .lawsuit .mod-01 dl dt i {
        float: left;
        width: 0.8rem;
        height: 1rem;
        background-position-y: -6rem; }
        .lawsuit .mod-01 dl dt i.i1 {
          background-position-x: -0.2rem; }
        .lawsuit .mod-01 dl dt i.i2 {
          background-position-x: -1.2rem; }
        .lawsuit .mod-01 dl dt i.i3 {
          background-position-x: -2.2rem; }
        .lawsuit .mod-01 dl dt i.i4 {
          background-position-x: -3.2rem; }
        .lawsuit .mod-01 dl dt i.i5 {
          background-position-x: -4.2rem; }
        .lawsuit .mod-01 dl dt i.i6 {
          background-position-x: -5.2rem; }
        .lawsuit .mod-01 dl dt i.i7 {
          background-position-x: -6.2rem; }
        .lawsuit .mod-01 dl dt i.i8 {
          background-position-x: -7.2rem; }
      .lawsuit .mod-01 dl dt span {
        float: right;
        color: #5a5a5a;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease; }
      .lawsuit .mod-01 dl dt.active span {
        color: #38519f;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .lawsuit .mod-01 dl dd {
      line-height: 2;
      padding: 0 0 0.2rem 0.8rem;
      display: none; }
      .lawsuit .mod-01 dl dd em {
        color: #38519f;
        margin-right: 0.1rem; }
  .lawsuit .mod-01 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4; }
  .lawsuit .mod-01 li {
    width: 25%;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.3rem; }
    .lawsuit .mod-01 li i {
      display: block;
      width: 0.8rem;
      height: 0.6rem;
      background-position-y: -6.2rem;
      margin-bottom: 0.1rem; }
      .lawsuit .mod-01 li i.i1 {
        background-position-x: -0.1rem; }
      .lawsuit .mod-01 li i.i2 {
        background-position-x: -1.1rem; }
      .lawsuit .mod-01 li i.i3 {
        background-position-x: -2.1rem; }
      .lawsuit .mod-01 li i.i4 {
        background-position-x: -3.1rem; }
      .lawsuit .mod-01 li i.i5 {
        background-position-x: -4.1rem; }
      .lawsuit .mod-01 li i.i6 {
        background-position-x: -5.1rem; }
      .lawsuit .mod-01 li i.i7 {
        background-position-x: -6.1rem; }
      .lawsuit .mod-01 li i.i8 {
        background-position-x: -7.1rem; }
    .lawsuit .mod-01 li span {
      float: right;
      color: #5a5a5a;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .lawsuit .mod-01 li.active span {
      color: #38519f;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .lawsuit .mod-01 .to-ask {
    display: block;
    width: 3.4rem;
    border-radius: 0.26rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0.52rem;
    line-height: 0.50rem;
    border: 1px solid #38519f;
    color: #38519f;
    text-align: center;
    margin: 0.3rem auto; }

.lawsuit .mod-03 img {
  display: block;
  margin: 0 auto;
  width: 3.14rem; }

.lawsuit .mod-03 table {
  border-collapse: collapse;
  width: 7.2rem;
  margin: 0.1rem auto;
  margin-top: 0.3rem; }
  .lawsuit .mod-03 table tr {
    border-bottom: 1px solid #e4e4e4; }
    .lawsuit .mod-03 table tr:last-child {
      border: none; }
  .lawsuit .mod-03 table td {
    padding: 0.2rem 0; }
  .lawsuit .mod-03 table i {
    margin: 0 auto;
    font-style: normal;
    background: #ffd200;
    width: 1.1rem;
    text-align: center;
    border-radius: 4px;
    display: block; }

.lawsuit .mod-04 {
  padding-bottom: 0.4rem; }
  .lawsuit .mod-04 form {
    padding: 0 0.15rem; }
    .lawsuit .mod-04 form .form-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .lawsuit .mod-04 form .form-item input {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 0.7rem;
        padding: 0.15rem 0.2rem;
        resize: none;
        width: 3.5rem;
        font-size: 0.24rem;
        line-height: 1.5;
        border-radius: 4px;
        border: none; }
    .lawsuit .mod-04 form textarea {
      margin: 0.2rem auto;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 2rem;
      padding: 0.15rem 0.2rem;
      resize: none;
      width: 100%;
      font-size: 0.24rem;
      line-height: 1.5;
      border-radius: 4px;
      border: none; }
    .lawsuit .mod-04 form .submit {
      text-align: center;
      color: #000;
      background: #ffd200;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 0.7rem;
      padding: 0.15rem 0.2rem;
      resize: none;
      width: 100%;
      font-size: 0.24rem;
      line-height: 1.5;
      border-radius: 4px; }

.selfsuit .mod-01 {
  padding-bottom: 1px; }
  .selfsuit .mod-01 .q-list {
    width: 7.2rem;
    margin: 0 auto; }
    .selfsuit .mod-01 .q-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.3rem 0;
      border-bottom: 1px solid #e4e4e4; }
      .selfsuit .mod-01 .q-list li img {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem; }
      .selfsuit .mod-01 .q-list li .text {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .selfsuit .mod-01 .q-list li h4 {
        font-size: 0.3rem;
        margin-bottom: 0.1rem; }
      .selfsuit .mod-01 .q-list li em {
        color: #38519f;
        margin: 20px 0 10px 0;
        text-align: center; }
  .selfsuit .mod-01 .to-ask {
    display: block;
    width: 4.4rem;
    border-radius: 0.22rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0.44rem;
    line-height: 0.44rem;
    border: 1px solid #38519f;
    color: #38519f;
    text-align: center;
    margin: 0.3rem auto; }

.selfsuit .mod-02 {
  padding-bottom: 0.4rem; }
  .selfsuit .mod-02 .case-list {
    width: 7.2rem;
    margin: 0 auto; }
    .selfsuit .mod-02 .case-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.25rem 0;
      border-bottom: 1px solid #e4e4e4; }
      .selfsuit .mod-02 .case-list li img {
        width: 2.7rem;
        height: 2.2rem;
        margin-right: 0.3rem; }
      .selfsuit .mod-02 .case-list li .text {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .selfsuit .mod-02 .case-list li h4 {
        margin-bottom: 0.1rem; }

.selfsuit .mod-03 {
  padding: 0 0.15rem 0.3rem 0.15rem; }
  .selfsuit .mod-03 table {
    width: 100%;
    border-collapse: collapse; }
    .selfsuit .mod-03 table td, .selfsuit .mod-03 table th {
      border: 1px solid #eee;
      padding: 0.1rem; }
      .selfsuit .mod-03 table td:nth-of-type(3n+3), .selfsuit .mod-03 table th:nth-of-type(3n+3) {
        text-align: center; }
    .selfsuit .mod-03 table td:nth-of-type(3n+3) {
      color: #38519f; }
    .selfsuit .mod-03 table th {
      color: #38519f; }

.selfsuit .mod-04 .s-list {
  width: 7.2rem;
  margin: 0 auto; }
  .selfsuit .mod-04 .s-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.25rem 0.2rem 0.25rem 0;
    border-bottom: 1px solid #e4e4e4; }
    .selfsuit .mod-04 .s-list li i {
      margin-right: 0.3rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #ffd200;
      border-radius: 50%;
      background-position-y: -4.9rem; }
      .selfsuit .mod-04 .s-list li i.i1 {
        background-position-x: -4.9rem; }
      .selfsuit .mod-04 .s-list li i.i2 {
        background-position-x: -5.9rem; }
      .selfsuit .mod-04 .s-list li i.i3 {
        background-position-x: -6.9rem; }
      .selfsuit .mod-04 .s-list li i.i4 {
        background-position-x: -7.9rem; }
    .selfsuit .mod-04 .s-list li .text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .selfsuit .mod-04 .s-list li h4 {
      font-size: 0.3rem;
      color: #38519f; }

.lawletter .mod-01 .s-list {
  padding: 0 0.1rem; }
  .lawletter .mod-01 .s-list li {
    padding: 0.2rem 0;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .lawletter .mod-01 .s-list li:last-child {
      border: none; }
    .lawletter .mod-01 .s-list li img {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.3rem; }
    .lawletter .mod-01 .s-list li div h5 {
      font-size: 0.24rem;
      margin-top: 0.1rem;
      letter-spacing: 1px; }
      .lawletter .mod-01 .s-list li div h5 em {
        color: #38519f; }
    .lawletter .mod-01 .s-list li div h4 {
      color: #38519f;
      font-size: 0.3rem;
      margin-bottom: 0.1rem; }

.lawletter .mod-02 {
  padding-bottom: 1px; }
  .lawletter .mod-02 .mod-title {
    color: #fff; }
    .lawletter .mod-02 .mod-title h2 {
      color: #fff; }
  .lawletter .mod-02 .s-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    text-align: left;
    margin: 0 auto;
    width: 7.26rem;
    height: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.2rem 0.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../images/service/lawletter/item_bg.png);
    background-size: 100% 100%;
    margin-bottom: .2rem; }
    .lawletter .mod-02 .s-list li h4 {
      font-weight: 400;
      color: #38519f;
      margin-bottom: 0.05rem; }

.lawletter .mod-03 img {
  display: block;
  margin: 0 auto;
  width: 3.14rem; }

.lawletter .mod-03 table {
  border-collapse: collapse;
  width: 7.2rem;
  margin: 0.1rem auto;
  margin-top: 0.3rem; }
  .lawletter .mod-03 table tr {
    border-bottom: 1px solid #e4e4e4; }
    .lawletter .mod-03 table tr:last-child {
      border: none; }
  .lawletter .mod-03 table td {
    padding: 0.2rem 0; }
  .lawletter .mod-03 table i {
    margin: 0 auto;
    font-style: normal;
    background: #ffd200;
    width: 0.3rem;
    text-align: center;
    border-radius: 4px;
    display: block; }

/*# sourceMappingURL=layout.css.map */
