* {
  margin: 0;
  padding: 0;
  font-size: 0.2rem;
  font-family: "微软雅黑", "Microsoft YaHei";
}
html {
  max-width: 640px;
  margin: auto;
}
.banner {
  cursor: pointer;
}
header {
  width: 100%;
  height: 1.5rem;
}
.logo {
  width: 39%;
  height: 1.3rem;
  float: left;
}
.logo img {
  width: 2.6rem;
  height: 0.75rem;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
}

.hdcontt {
  width: 2.5rem;
  height: 1rem;
  width: 32%;
  float: left;
  padding-left: 0.6rem;
  padding-top: 0.45rem;
}
.hdcontt .hdbiao {
  font-size: 0.25rem;
  font-weight: 500;
  padding-left: 0.3rem;
}
p.hdzhuan {
  font-size: 0.15rem;
  letter-spacing: 0.02rem;
  color: #c53235;
}
.hdside {
  height: 1.4rem;
  width: 1rem;
  float: right;
  /* float: revert; */
  margin-left: 0.06rem;
  margin-top: 0.05rem;
}
.hdside img {
  width: 0.75rem;
  height: 0.75rem;
  float: right;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  position: relative;
  /* top: -.6rem; */
}
.banner img {
  width: 100%;
}

footer {
  background-color: #c53235;
  height: 3rem;
  color: white;
  text-align: center;
  padding: 40px 0;
}
.zxr {
  font-size: 0.3rem;
  padding: 0.3rem;
  line-height: 0.35rem;
}
.diz {
  font-size: 0.3rem;
  padding: 0.2rem 0.6rem;
  line-height: 0.35rem;
}
.footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.footer a {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #fff;
  font-size: 16px;
}
.footer a:nth-child(1) {
  background: #d62f2e;
  width: 50%;
  opacity: 0.9;
}
.footer a:nth-child(2) {
  background: #6d6665;
  width: 50%;
  opacity: 0.9;
}
.footer a img {
  display: flex;
  width: .4rem;
  height: .4rem;
  margin-right: 5px;
}
.footer a:nth-child(1) img {
  width: .4rem;
  height: .4rem;
}
a {
  text-decoration: none;
  /* float: left; */
  /* width: 1rem; */
}
/* 快速离婚 */
#lihun .xieyi{
  background: url(xieyi.png);
  background-size: cover;
  margin: 4%;
  height: 4rem;
}
#lihun .xieyi p{

color: white;

text-align: justify;

line-height: .3rem;

margin-bottom: 0.26rem;

padding: .02rem .2rem;

/* margin-top: .1rem; */

transform: translateY(.2rem);
}
#lihun .xieyi p:nth-child(2){
padding-top: .2rem;
}
#lihun .xieyi p:nth-child(1){

width: 1.6rem;

height: .5rem;

font-size: .24rem;

line-height: .5rem;

background: #fff;

color: #000;

/* margin: auto; */

display: block;

text-align: center;

margin: 0auto;

margin: auto;

/* margin-top: 10px; */

font-weight: bold;
}
#lihun>img{
  
width: 92%;
  
margin: 4%;
}
#lihun .zixun{
  
margin: .1rem auto;
}
/* 业务范围 */
#yewu {
  position: relative;
}
.biaoti {
  text-align: center;
  height: 0.8rem;
  position: relative;
  /* vertical-align: middle; */
}
.biaoti p {
  display: block;
  height: 0.8rem;
  line-height: -0.2rem;
  font-size: 0.32rem;
  position: relative;
  font-weight: bold;
  line-height: 0.8rem;
  vertical-align: middle;
}
.biaoti::before {
  content: "";
  background-image: url(left.png);
  position: absolute;
  width: 0.6rem;
  height: 0.18rem;
  background-size: cover;
  left: 0rem;
  top: 0.31rem;
  left: 1.1rem;
}
.biaoti::after {
  content: "";
  background-image: url(right.png);
  position: absolute;
  width: 0.6rem;
  height: 0.18rem;
  background-size: cover;
  top: 0.31rem;
  right: 1.1rem;
}

#yewu .cont {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
#yewu .cont div {
  width: 30%;
  padding: 0.25rem;
  margin: 0.1rem;
  background-color: #d43c41;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 0.26rem;
}
/* 咨询 */
.zixun p {
  text-align: center;
  display: inline;
  font-size: 0.28rem;
}
.zixun {
  text-align: center;
  font-weight: bold;
  background-color: #c53235;
  color: white;
  height: 0.8rem;
  width: 75%;
  margin: .4rem auto;
  border-radius: 23px;
}
.zixun img {
  width: 0.5rem;

  position: relative;

  top: 0.15rem;

  left: -0.1rem;
}
/* 婚姻难题 */
#nanti .biaoti::before{
  left: 0.3rem;
}
#nanti .biaoti::after{
  right: 0.3rem;
}
#nanti .cont {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
#nanti .cont div {
  width: 30%;
  padding: 0.25rem;
  margin: 0.1rem;
  /* background-color: #d43c41; */
  color: #c12c31;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 0.22rem;
}
/* 律师 */
.reds{
  color: #c12c31;
}
#lvshi{
  
}
#lvshi .cont{
  
}
.liaojieyixia a{/* position: absolute; */position: absolute;right: .3rem;color: #1951d0;text-decoration: underline;}
.liaojieyixia{
  
list-style: none;
  
position: relative;
  
height: .3rem;
}
#lvshi .left{
  
width: 46%;
  
float: left;
  
padding: .3rem .2rem;
  
box-sizing: border-box;
}
#lvshi .left img{
  
width: 100%;
}
#lvshi .right{
  
width: 50%;
  
float: left;
  
padding: .3rem 0;
  
box-sizing: border-box;
}
#lvshi .right p{
  
text-align: justify;
  
font-size: .2rem;
  
margin: .3rem 0;
  
width: 3rem;
  
line-height: .28rem;
}
#lvshi .right .red span{

padding-left: .2rem;
}
#lvshi .right .red{
  
padding: .1rem .1rem;
  
background-color: #c53235;
  
color: white;
  
font-size: .27rem;
  
width: 2.2rem;
}
#lvshi ul{clear: both;padding: 0 .5rem;line-height: .26rem;/* position: relative; */}
#lvshi ul li{
  
line-height: .3rem;
}
#lvshi ul li:nth-child(3){
  
margin-top: .2rem;
  
/* line-height: .26rem; */
}
/* 财产 */
#caichan ul{
    padding: .2rem .4rem;
}
#caichan ul li{
    padding: .15rem 0;
    border-bottom: 1px solid #999;
    list-style: none;
    position: relative;
}
#caichan ul li span{
    color: #d43c41;
    position: absolute;
    right: 0.2rem;
}
/* 抚养 */
#fuyang .cont{
    padding: .2rem;
}
#fuyang .cont p{
    line-height: .42rem;
    /* padding-left: .2rem; */
    margin-left: .3rem;
    font-size: .22rem;
}
#fuyang .cont p.biao{
    margin: 0 0 .1rem .3rem;
    font-weight: bold;
    position: relative;
}
#fuyang .cont p.biao::before{
    content: "";
    width:0px;
    height: 0px;
    border: .2rem solid;
    border-left-width: .1rem;
    border-right-width: .1rem;
    /* border-left: .1rem; */
    /* border-right: .1rem; */
    border-color: transparent transparent #c53235;
    display: inline-block;
    position: absolute;
    left: -.36rem;
    top: -.1rem;
}

#fuyang .cont p.red{
    color: #c53235;
    position: relative;
}
#fuyang .cont p.red span{
    position: absolute;
    right: .2rem;
    font-size: .22rem;
}
#fuyang .cont .dui1{
    display: flex;
}
#fuyang .cont .dui1>div{
    width: 33%;
    margin-left: .2rem;
}
#fuyang .cont .dui1>div img{
    width: .26rem;
}
#fuyang .biaoti::before{
  
left: .8rem;
}
#fuyang .biaoti::after{
  
right: .8rem;
}
/* 优势 */

#youshi span{

color: #c53235;

/* font-size: .6rem; */

padding: 0 .12rem;

/* height: .4rem; */

font-size: .7rem;

display: inline-block;

vertical-align: middle;
}
#youshi .cont{

display: flex;

flex-wrap: wrap;
}
#youshi .cont>div{

width: 46%;

/* text-align: justify; */

box-sizing: border-box;

/* padding: .2rem; */

margin: 2%;

/* background-color: #c53235; */
}
#youshi .cont>div p{

text-align: center;

font-weight: bold;

margin: .06rem 0;

font-size: .24rem;
}
#youshi .cont>div .red{

display: inline-block;

text-align: justify;

color: white;

background: #d43c41;

padding: 0.2rem;

border-radius: .2rem;

line-height: .28rem;

font-size: .2rem;

height: 1.2rem;
}